.image-block {
    -fx-min-width: 350px;
    -fx-min-height: 350px;
    -fx-max-width: 350px;
    -fx-max-height: 350px;
    -fx-border-width: 1px;
    -fx-border-style: dashed;
    -fx-border-color: #000;
}
