.toolbar-btn {
    -fx-min-width: 36px;
    -fx-min-height: 36px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 28 28;
    -fx-background-position: center center;
    -fx-border-style: none;
}

.toolbar-btn:pressed {
    -fx-border-color: #dfdfdf;
    -fx-background-color: #555;
}

.toolbar-btn:hover {
     -fx-border-style: solid;
     -fx-border-color: #dfdfdf;
}

.open-model-btn {
    -fx-background-color: transparent;
    -fx-background-image: url("/icons/png/open.png")
}

.save-model-btn {
    -fx-background-color: transparent;
    -fx-background-image: url("/icons/png/save.png");
}

.play-btn {
    -fx-background-image: url("/icons/png/set1/play.png");
    -fx-background-color: transparent;
}

.pause-btn {
    -fx-background-image: url("/icons/png/set2/pause.png");
    -fx-background-color: transparent;
}

.step-btn {
    -fx-background-image: url("/icons/png/set2/step.png");
    -fx-background-color: transparent;
}

.reset-btn {
    -fx-background-image: url("/icons/png/set3/clear2.png");
    -fx-background-color: transparent;
}

.set-replace-btn {
    -fx-background-image: url("/icons/png/replace.png");
}

.set-toggle-btn {
    -fx-background-image: url("/icons/png/toggle.png");
}

.help-btn {
    -fx-background-image: url("/icons/png/help.png");
    -fx-background-color: transparent;
}

.about-btn {
    -fx-background-image: url("/icons/png/about.png");
    -fx-background-color: transparent;
}

.settings-btn {
    -fx-background-image: url("/icons/png/setting.png");
    -fx-background-color: transparent;
}

.impact-scores-btn {
    -fx-background-image: url("/icons/png/tag.png");
    -fx-background-color: transparent;
}

.active-button {
    -fx-background-color: red
}